<div class="container" style="padding: 80px 0;">
  <h1>プロフィール編集</h1>
  <hr color="49b77c">
  <%= render 'form', user: current_user %>

  <p>
    <%= link_to 'ログアウト', logout_path, method: :delete, class:"btn btn-danger", style:"color:#ffffff" %>
  </p>

</div>